.logo{
    width:300px;
}
.header-details{
    background-color: black;
    padding: 20px;
    margin-right: 5px;
}
.header-details a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin-right: 40px;
}
.header-details input {
    width: 75%;
    margin-top: 10px;
    height: 30px;
    border-radius: 10px;
}